*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo {
    background-color: #942613;
    height: 150px;
}

.topo h1 {
    margin-left: 450px;
    top: 40px;
    position: relative;
    font-size: 65px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
    
}

.perfil {
    right: 40px;
    top: 65px;
    position: absolute;
    cursor: pointer;
}

.menu {
    left: 30px;
    top: 65px;
    position: absolute;
    cursor: pointer;
}
.links-mae {
    background-color: #000;
    height: 50px;
}

.links {
    margin-left: 10%;
    margin-top: 12px;
    position:absolute;
}

.links a {
    text-decoration: none;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    margin-left: 170px;
    font-size: 17.5px;

}