

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 40px;
    color: red;
    list-style: none;
    
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: red;
}
.logo{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 55px;
    background-color: #e40814;
}
section{
    background-image: url(https://lh5.googleusercontent.com/p/AF1QipNiHe2sAYo1Z2Cs05diM3_bAxEtTHPfgkT0Eoa4=w650-h365-k-no);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}
.link{
    text-decoration: none;
    color: red;
    font-size: 20px;
    
}
.link:hover{
    color: white;
}
.inc{
    text-decoration: none;
    color: red;
    font-size: 20px;
}

.cdt{
    text-decoration: none;
    color: red;
    font-size: 20px;
}
form{
 font-size: 15px;
}
.formulario{
    background-color:red ;
}
.hist{
    text-decoration: none;
    color: red;
    font-size: 20px;
}